.padding100{
}
section h2,section .h2{
  font-size: 33px;
  font-weight: bold;
}
.p{
  font-size: 10px;
}
.flex{
  display: flex;
  justify-content: center;
}
section h2{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section h2::before{
  content: "";
  height: 7px;
  width: 55px;
  background-color: #FFD0E5;
 
  
}