div.jsx-65206537 {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
  line-height: 0;
  contain: content;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 4px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
div.jsx-3510020232 {
  padding: 8px;
  margin: 0px;
  font-weight: 400;
  color: rgb(48, 48, 48);
  line-height: 1.4;
}
h6.jsx-3510020232 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  color: rgb(48, 48, 48);
  line-height: 1.4;
}