@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

#portfolio * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body #portfolio {
    display: flex;
    align-items: center;
    background-color: #fff;
}

#portfolio .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f6ebeb;
  max-width: 1440px;
  margin: 0 auto;
  gap: 30px;
  align-items: flex-start;
}
#portfolio .wrapper h2{
    text-align: center;
    font-size: 45px;
    width: 1600px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateY(-74%);
}
#portfolio .card {
    position: relative;
    width: 300px;
    height: 300px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

#portfolio .poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#portfolio .poster::before {
    content: '';
    position: absolute;
    bottom: -45%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: .3s;
}

#portfolio .card:hover .poster::before {
    bottom: 0;
}

#portfolio .poster img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

#portfolio .card:hover .poster img {
    transform: scale(1.1);
}

#portfolio .details {
    position: absolute;
    bottom: -160%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 1.5em 1.5em 2em;
    background: #000a;
    backdrop-filter: blur(16px) saturate(120%);
    transition: .3s;
    color: #fff;
    z-index: 2;
}

#portfolio .card:hover .details {
    bottom: 0;
}

#portfolio .details h1,
#portfolio .details h2 {
    font-weight: 700;
}

#portfolio .details h1 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

#portfolio .details h2 {
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 10px;
    opacity: .6;
}

#portfolio .details .rating {
    position: relative;
    margin-bottom: 15px;
    display: flex;
    gap: .25em;
}

#portfolio .details .rating i {
    color: #e3c414;
}

#portfolio .details .rating span {
    margin-left: 0.25em;
}

#portfolio .details .tags {
    display: flex;
    gap: .375em;
    margin-bottom: .875em;
    font-size: .85em;
}

#portfolio .details .tags span {
    padding: .35rem .65rem;
    color: #fff;
    border: 1.5px solid rgba(255 255 255 / 0.4);
    border-radius: 4px;
    border-radius: 50px;
}

#portfolio .details .desc {
    color: #fff;
    opacity: .8;
    line-height: 1.5;
    margin-bottom: 1em;
}

#portfolio .details .cast h3 {
    margin-bottom: .5em;
}

#portfolio .details .cast ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    width: 100%;
}

#portfolio .details .cast ul li {
    list-style: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

#portfolio .details .cast ul li img {
    width: 100%;
    height: 100%;
}