#skill{
  background-color: initial;
}

#skill .skillset{
  padding: 20px;
  max-width: 1100px;
  display: flex;
}
#skill .skillset h1{
  
  font-size: 30px;
}
#skill .skillset .Skill{
  width: 500px;
}
#skill .skillset .Tools{
  margin-left: 100px;
  width: 500px;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #FFF;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #FFF;
  font-weight: bold;
  line-height: 2;
}
.bar::before{
  content:  attr(data-skill);
  background-color: #FDFFD1;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.advanced::before{
  background-color: #D3D1FF;
}
.bar.basic::before{
  background-color: #D1E6FF;
}
.bar.intermediate::before{
  background-color: #C3E6CB;
}
.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}